{% extends "base.html" %}


{% block content %}

<form method="get">
    {{semform.sem}}
    <input type="submit" value="Submit" class="btn btn-primary btn-neutral"/>   
</form>

<h1>{{sem}} SEMISTER MARKS</h1>
    {% if m %}
    <a href="{% url 'm_bulkedit' sem %}"> Edit All</a>
    
    <table class="table">
        <thead>
            <th>PIN</th><th>NAME</th>
            {% if sem == "1YEAR" %}
                {% for i in '01234567890'|make_list %}
                    <td>S{{forloop.counter}} Code</td>
                    <td>S{{forloop.counter}} Int</td>
                    <td>S{{forloop.counter}} Ext</td>
                    <td>S{{forloop.counter}} Tot</td>
                    <td>S{{forloop.counter}} Staus</td>
                {% endfor %}

            {% else %}
                {% for i in '0123456789'|make_list %}            
                    <td>S{{forloop.counter}} Code</td>
                    <td>S{{forloop.counter}} Int</td>
                    <td>S{{forloop.counter}} Ext</td>
                    <td>S{{forloop.counter}} Tot</td>
                    <td>S{{forloop.counter}} Staus</td>
                {% endfor %}
            {% endif %}
        </thead>
    {% for s in m %}
    <tr>
        <td>{{s.student_id}}</td>
        <td>{{s.student.name}}</td>
        {% for m in s.to_subjects.subjects %}
            <td>{{m.sub_code}}</td>
            <td>{{m.sub_int}}</td>
            <td>{{m.sub_ext}}</td>
            <td>{{m.sub_total}}</td>
            <td>{{m.sub_status}}</td>
        {% endfor %}
        
        
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No unit marks are available.</p>
{% endif %}

{% endblock %}