{% extends "base.html" %}


{% block content %}
SEM: {{sem}}<br/>
UNIT: {{unit}}
<form method="POST">
{% csrf_token %}

<table>
<tr>
{% for s in fs.instance.subject_codes%}
<td>{{s}}</td>
{%endfor%}
</tr>
<tr>
    
    <td>{{fs.s1}}</td>
    <td>{{fs.s2}}</td>
    <td>{{fs.s3}}</td>
    <td>{{fs.s4}}</td>
    <td>{{fs.s5}}</td>
    <td>{{fs.s6}}</td>
    <td>{{fs.s7}}</td>
    <td>{{fs.s8}}</td>
    <td>{{fs.s9}}</td>
{% if sem == '1YEAR' %}
    <td>{{fs.s10}}</td>
    <td>{{fs.s11}}</td>
{% endif %}


</table>


<input type="submit" value="Update" />
</form>

{% endblock %}