{% extends "base.html" %}


{% block content %}

<form method="get">
    {{form}}
    <input class="btn btn-primary btn-neutral" type="submit" />    
</form>

<h1>{{sem}} {{unit}} MARKS</h1>
    {% if um %}
    
    
    <table class="table">
       
    {% for s in um %}
    {% if forloop.counter  == 1 %}
    <thead>
        <th>PIN</th>        
        {% for i in s.subject_codes %}
            <th>{{i}}</th>
        {%endfor %}
    
    </thead>
    {% endif %}
    <tr>
        <td>{{s.student_id}}</td>        
        <td>{{s.s1}}</td>
        <td>{{s.s2}}</td>
        <td>{{s.s3}}</td>
        <td>{{s.s4}}</td>
        <td>{{s.s5}}</td>
        <td>{{s.s6}}</td>
        <td>{{s.s7}}</td>
        <td>{{s.s8}}</td>
        <td>{{s.s9}}</td>
    {% if s.sem == '1YEAR' %}
        <td>{{s.s10}}</td>
        <td>{{s.s11}}</td>
    {% endif %}
        <td><a href="{% url 'um_show' s.student_id %}?sem={{sem}}&unit={{unit}}">Show</a></td>
        <td><a href="{% url 'um_edit' s.student_id %}?sem={{sem}}&unit={{unit}}">Edit</a></td>

        
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No unit marks are available.</p>
{% endif %}

{% endblock %}