{% extends "base.html" %}


{% block content %}

<form method="get">
    <select name="sem">
        <option value="1YEAR">1 Year</option>
        <option value="3SEM">3 Sem</option>
        <option value="4SEM">4 Sem</option>
        <option value="5SEM">5 Sem</option>
    </select>
    <input type="submit" />    
</form>

<h1>{{sem}} UNIT MARKS 3</h1>
    {% if um3 %}
    <a href="{% url 'u2m_bulkedit' sem %}"> Edit All</a>
    
    <table>
    {% for s in um3 %}
    <tr>
        <td>{{s.student_id}}</td>
        <td>{{s.student.name}}</td>
        <td>{{s.s1}}</td>
        <td>{{s.s2}}</td>
        <td>{{s.s3}}</td>
        <td><a href="{% url 'u3m_show' s.student_id %}">Show</a></td>
        <td><a href="{% url 'u3m_edit' s.student_id %}">Edit</a></td>

        
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No unit marks are available.</p>
{% endif %}

{% endblock %}