{% extends "base.html" %}


{% block content %}

<form method="get">
    <select name="sem">
        <option value="1YEAR">1 Year</option>
        <option value="3SEM">3 Sem</option>
        <option value="4SEM">4 Sem</option>
        <option value="5SEM">5 Sem</option>
    </select>
    <input type="submit" />    
</form>

<form method="get">
    {{sf.sem}}
    <input type="submit" />    
</form>


<h1>{{sem}} Attendance</h1>
    {% if atte %}
    <a href="{% url 'atten_bulkedit' sem %}"> Edit All</a>
    
    <table>
    {% for s in atte %}
    <tr>
        <td>{{s.student_id}}</td>
        <td>{{s.student.name}}</td>
        <td>{{s.month}}</td>
        <td>{{s.nfw}}</td>
        <td>{{s.npd}}</td>
        <td><a href="{% url 'atten_show' s.student_id %}">Show</a></td>
        <td><a href="{% url 'atten_edit' s.student_id %}">Edit</a></td>

        
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No Attendance are available.</p>
{% endif %}

{% endblock %}