{% extends "base.html" %}


{% block content %}

STUDENT Info
<table>
    <tr><td>PIN</td><td>{{s.pin}}</td></tr>
    <tr><td>Name</td><td>{{s.sname}}</td></tr>
    <tr><td>DOB</td><td>{{s.dob}}</td></tr>
    <tr><td>FATHERNAME</td><td>{{s.fname}}</td></tr>
    <tr><td>ADDRESS</td><td>{{s.address}}</td></tr>
    <tr><td>VILLAGE</td><td>{{s.village}}</td></tr>
    <tr><td>MANDAL</td><td>{{s.mandal}}</td></tr>
    <tr><td>DISTRICT</td><td>{{s.dist}}</td></tr>
    <tr><td>PHONENUMBER</td><td>{{s.phno}}</td></tr>
    <tr><td>FATHERNUMBER</td><td>{{s.fphno}}</td></tr>
    <tr><td>EMAILID</td><td>{{s.email}}</td></tr>
    <tr><td>GENDER</td><td>{{s.gender}}</td></tr>

    

</table>

<a href="{% url 'student_index' %}">student index</a>

{% endblock %}



