
<div class="container">
    
    <a class="navbar-brand" href="/n/i/">MBTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>


      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Students
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'newst' %}">New Student</a>
              <a class="dropdown-item" href="{% url 'student_index' %}">display</a>
              <a class="dropdown-item" href="{% url 'student_report' %}">Report</a>              
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Attendance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'atten_index'%}">Display</a>
              <a class="dropdown-item" href="{% url 'atte_upload' %}">Upload</a>
              <a class="dropdown-item" href="#">Link 3</a>       
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Unit Marks
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'um1_index'%}">UNIT 1 marks</a> 
              <a class="dropdown-item" href="{% url 'u1m_upload'%}">upload</a>
              <a class="dropdown-item" href="{% url 'um2_index'%}">UNIT 2 marks</a> 
              <a class="dropdown-item" href="{% url 'u2m_upload'%}">upload</a>
              <a class="dropdown-item" href="{% url 'um3_index'%}">UNIT 3 marks</a> 
              <a class="dropdown-item" href="{% url 'um3_upload'%}">upload</a> 
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SEMISTER MARKS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'Marks_index'%}">Display</a>
              <a class="dropdown-item" href="{% url 'u1m_upload'%}">upload</a>
            </div>
          </li>

        </ul>


      </div>
    </div>


        <a href="{% url 'Marks_index'%}">Display</a> 
        <a href="{% url 'm_upload'%}">Upload</a>

       </div>
      </div>
    </div> 


    <div class="dropdown">
      <button class="dropbtn">Attendance
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'atten_index'%}">Display</a>
        <a href="{% url 'atte_upload' %}">Upload</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <div class="dropdown">
        <button class="dropbtn">Unit Marks 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'um1_index'%}">UNIT 1</a> 
          <a href="{% url 'unit_upload'%}">upload</a> 

        </div>
      </div> 
      {% if user.is_authenticated %}
     <span style="color:white">User: {{ user.get_username }}</span>
     <a href="{% url 'users-profile' %}">Profile</a>
     <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">logout</button>
  </form>    
   {% else %}
     <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
   {% endif %}
