
    <a href="/n/i/">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Students 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'newst' %}">New Student</a>
        <a href="{% url 'student_index' %}">display</a>
       <a href="{% url 'student_report' %}">Report</a>
      </div>
    </div> 


    <div class="dropdown">
      <button class="dropbtn">Attendance
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'atten_index'%}">Display</a>
        <a href="{% url 'atte_upload' %}">Upload</a>
        <a href="#">Link 3</a>
      </div>
    </div> 


    
    <div class="dropdown">
      <button class="dropbtn">Unit Marks
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
          <div class="dropdown-content">

        <a href="{% url 'um1_index'%}">UNIT 1 marks</a> 
        <a href="{% url 'u1m_upload'%}">upload</a>
        <a href="{% url 'um2_index'%}">UNIT 2 marks</a> 
        <a href="{% url 'u2m_upload'%}">upload</a>
        <a href="{% url 'um3_index'%}">UNIT 3 marks</a> 
        <a href="{% url 'um3_upload'%}">upload</a>

       </div>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">SEMISTER MARKS
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
          <div class="dropdown-content">

        <a href="{% url 'Marks_index'%}">Display</a> 
        <a href="{% url 'm_upload'%}">Upload</a>

       </div>
      </div>
    </div>
  
  