{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{% block title %}My amazing site{% endblock %}</title>

</head>
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static '/css/nucleo-icons.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/blk-design-system.min.css' %}" />

</head>
<body>

  <nav class="navbar navbar-expand-lg bg-primary">
    {% include '_menus.html' %}
   </nav>

<div id="content">
  
  {% block content %}{% endblock %}
</div>




 <!-- Core -->
 <script src="{% static 'js/core/jquery.min.js' %} "></script>
 <script src="{% static 'js/core/popper.min.js' %}"></script>
 <script src="{% static 'js/core/bootstrap.min.js' %}"></script>

 <!-- BLK• JS -->
 <script src="{% static 'js/blk-design-system.js' %} "></script>
 
 {% block postcontent %} {% endblock %}
</body>
</html>


